@import url('https://fonts.googleapis.com/css?family=Kurale');

html {
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
}

body {
    background-color: #f38630;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Kurale', serif; 
    /* I know an import isn't best for just this page but it looks good... */
    text-align: center; 
}

main { 
    display: block;
    margin: 0 auto;
    background-color: rgb(246,240,220);
}

.page-header {
    margin-bottom: 1em;
    padding: 0 1em;
    background-color: rgb(246,240,220);
}

nav a {
    padding: 0 .2em;
    text-decoration: none;
}

.nomen {
    display: inline-block;
    margin: 0 auto;
    font-size: inherit;
}

input {
    font-family: inherit; 
    font-size: inherit; 
    margin: 0; 
    overflow: visible;
}

article {
    padding: 1em;
}

@media screen and (min-width: 700px) {
    .page-header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    main {
        width: 50em; /* about 800px */
        font-size: 1.2em;
        line-height: 1.5;
    }
}

