
/* VARS */

$media-small: 481px;
$media-big: 900px;


/* SECTION 1: OVERALL LAYOUT ................................................. */

body {  
    font-size: 1rem;
    line-height: 1.1;
    margin: 0; 
    padding: 0;
}

main {
    margin: 0 auto;
}

@media screen and (min-width: $media-small) {
    main {
        margin-top: 4em; /* about 64px if 1em = 16px */
        width: 95vw;
    }
}

@media screen and (min-width: $media-big) {
    body {
        line-height: 1.2;
    }
    main {
        width: 50em; /* about 800px */
    }
}


/* 2: HEADER AND FOOTER ------------------------------------------------------- */
.page-header {
    margin-bottom: 2em;
    padding: .3em;
}

@media screen and ( min-width: $media-small ) {
    .page-header{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        
        position: fixed;
        top: 0px;
        width: 100vw;
        z-index: 9;
    }
    
    .cell {
        flex: 1;
    }
}

.page-footer {
    margin-top: 1em; 
    padding: 0.5em; 
}

.page-nav {
    font-size: 105%;
}

nav a {
    padding: 0 .2em;
    text-decoration: none;
}

.nomen {
    display: inline-block;
    margin: 0 auto;
    font-size: inherit;
}

/* SECTION 3: ARTICLE RELATED ---------------------------------------------- */

article {
    margin-bottom: 2em;
}

.post {
    padding: 0.5em 1em;
}

.post-controls, 
.post-tags { 
    font-size: 0.9em;
}

.post-tags a {
    padding: 0 .2em;
    text-decoration: none;
}

.leader {
    font-size: 1.2em;
    text-justify: auto;
}


/* SECTION 4: MISC ELEMENTS ------------------------------------------------ */

blockquote {
    margin: 0;
    padding-left: 0.25em;
}

.quote-icon {
    height: 1em;
    width: 1em;
}

pre {
    padding: .5em;
}

ol, ul {
    padding: 0.5em;
    list-style-position: inside;
}


/* SECTION 5: TABLES ------------------------------------------------------ */

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: .75em 0;
    table-layout: auto;
}

td,
th {
    padding: .5em;
}

/* SECTION 6: FORM ELEMENTS ----------------------------------------------- */

button {
    color: inherit;
    font: inherit;
    padding: 0.25em; 
    cursor: pointer;
}

label {
    display: inline-block;
    width: 40em;
    text-align: right;
}

legend {
	font-weight: bold;
}


/* SECTION 7 -------------------------------------------------------------- */

.pagination {
    display: flex;
    flex-flow: row wrap;
}

.pagination-button {
    padding: .5em;
    border-radius: 10px;
    flex: 1;
}

