/*! normalize.css| MIT License | git.io/normalize 
* experimental 2016 edit w/ some other bits, support focus on: 
* IE11+, FF43+, Chrome 43+, Android 4.4+, Safari 9+
*/

*, 
*:before,
*:after {
   box-sizing: border-box;  
}

html {
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
}

details,
main,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    vertical-align: baseline; 
}

small {
    font-size: 80%;
}


sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

pre {
    overflow: auto;
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    /* if console complains about not recognizing overflow-wrap see this: */
    /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
    padding: .5em;
    white-space: pre;
    white-space: pre-wrap;
    
}

code,
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
select {
    text-transform: none;
}

button,
input,
select,
textarea {
  font: inherit; 
  margin: 0; 
}

button {
    cursor: pointer; 
}

button[disabled],
html input[disabled] {
    cursor: default;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin-bottom: 1em;
    padding: 0.35em;
}

legend {
    border: 0; 
    padding: 0; 
}


/* EOF -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */