/* ATLAS. MIT license. Modern browsers, IE 11. 
* (desktop/tablet focus since big images)
* -------------------------------------------------------------------------- */

/* just a tiny bit of normalize to make sure the HTML5 stuff works */

article,
footer,
header,
main, 
nav,
section { 
    display: block;
}

/* basic dark theme */

body {
    background-color: #0e0e0e;
    color: #fbfcf7;
    font-family: "Source Sans Pro", Candara, "Fira Sans", Roboto, sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    margin: 0 auto; 
}

a {
    color: white;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: "Gentium Basic", Cambria, Georgia, Palatino, serif; 
}

img {
    max-width: 100%; /* keep from overflowing on tiny screens */
}

ol, 
ul {
    padding: 0.5em;
    list-style-position: inside; 
}

/* I'll have this header scroll with the page to maximize room for large images */

.page-header {
    padding: .3em 0; 
}

/* combined two generic single use classes since only used for this one thing. */

.thumb {
    text-align: center;
    margin: 1em 0;
}

nav a {
    padding: 0 .3em; 
    text-decoration: none; 
}

nav a:hover {
    text-decoration: underline; 
}

/* Yes flex even on mobile! Only 2 links in nav bar and input is short so have room */

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    background-color: #0e0e0e;
    border: 3px solid #1c3e2e;
    color: inherit;
    font: inherit;
    margin: 0;
    width: 10em;
}

article {
    margin-bottom: 2em;
    padding: 0.5em; 
}

/* let's try putting all the media query stuff in one place... */

@media screen and (min-width: 481px) {
    
    body {
        font-size: 1.1em;
        width: 90vw;
    }
    
    /* I was trying to simplify... */
    .comments {
        float: left;
        width: 55%;
    }

    .metadata {
         float: right;
         width: 35%;
    }
    
    /* Make it bigger on desktop */
    .searchform input {
        width: 16em;
    }

}


/* ------------------------------------------------------------------------- */