/* SUPPORTED: Firefox 95+ / Chrome 90+ / Safari 13+ (???) */

html {
    box-sizing: border-box; 
    font-size: 1rem;
    text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Noto Sans', 'Open Sans', Candara, Geneva, Verdana, serif;
    font-size: 1em;
    line-height: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Merriweather, Cambria, Palatino, serif;
}

h1 {
    font-size: 2em;
    margin: 0.3em 0;
}

/* Now main page blocks from the top down ---------------------------------- */

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 2rem;
}

nav a {
    padding: 0 .3rem; 
    text-decoration: none; 
}



/* 
The guide needs one row with TIME that "sticks" to top when scroll 
the rest of it is simply a grid.
yes technically a table would work but let's try grid. 
*/



.cell {
    background-color: hsl(180, 24%, 63%);
    border: 1px solid hsl(205, 45%, 28%); 
    padding: .5em;
}

.cell:focus,
.cell:hover {
    background-color: hsl(208, 100%, 97%);
    border: 1px solid hsl(205, 43%, 55%);
}
