/* Since this is so simple, support is IE9+ and everything else. */

html {
    font-size: 1rem; 
    line-height: 1.15;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%; 
}

body {
    background-color: #314159;
    font-family: Lato, Candara, sans-serif; 
}

@media screen and (min-width: 800px) and (orientation: landscape) {
    body {
        margin: 0 auto;
        width: 40em;
    }
}

h1 {
    font-family: Merriweather, serif; /* maybe Orbitron? */
    text-align: center;
}

main {
    background-color: #f7f5ee;
    display: block;
    padding: 1em;
}

/* TABLES --------------------------------------------------------------------*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

/* IE 8 and lower are the only things that don't support nth-child, 
 * which coincides with CSS3 color support. */
tbody tr:nth-child(odd) {
    background-color: burlywood;
}

td,
th {
    padding: 0.5em;
}

th {
    text-align: left; /* It throws off the flow of reading to have this centered */
}

/* FORMS ---------------------------------------------------------------------*/

button, 
input,
textarea {
    box-sizing: border-box; 
    color: inherit;
    font: inherit; 
    margin: 0; 
}

button {
    background-color: rgb(245, 197, 143);
    border: none;
    cursor: pointer;
    padding: .5em;
}

button:hover,
button:active {
    background-color: rgb(255, 115, 0);
}

fieldset {
    border: none;
    margin-bottom: 1em;
    padding: 0;
}

/* MISC ----------------------------------------------------------------------*/

.success {
    border: 3px solid rgb(105,210,231);
}

.error {
    border: 3px solid red;
}
