/* generic stuff ----------------------------------------------------------- */

:root {
    --ink: hsl(0, 0%, 15%);
    --paper: hsl(0, 0%, 98%);
    --trim: hsl(45, 33%, 63%);
    --active: hsl(226, 84%, 88%);
    --inactive: hsl(225, 59%, 73%);
}

html {
    font-size: 1rem; 
} 

body {
    background-color: var(--paper);
    color: var(--ink);
    font-size: 1.2em;
    font-family: 'Source Sans Pro', 'Trebuchet MS', sans-serif;
    line-height: 1.4;
}

h2,
h3,
legend {
    font-family: Merriweather, Cambria, serif;
}

/* Layout ................................................................... */

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-wrap: wrap;
    padding-bottom: 1ch;
    margin-bottom: 2ch;
    border-bottom: 2px solid var(--trim);
}

.site-nav a {
    padding: 0 .4ch;
}

/* the grid stuff ---------------------------------------------------------- */

@media screen and (min-width: 800px){
    
    main {
        padding: 0 1ch;
    }
    
    .grid-col2 {
        display: grid;
        grid-gap: 2ch;
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 5ch;
    }
    .news-small {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1ch;
        border-top: 4px solid var(--trim);
        border-left: 2px solid var(--trim);
        padding: 1ch;
    }
    
    .news-content {
        grid-column: 1;
    }

    .news-aside {
        grid-column: 2;
        grid-row: 1 / 3;
        text-align: center;
    }

    .flexy {
        display: flex;
        align-items: baseline;
        justify-content: left;
        gap: 3ch;
    }
    
}

/* Forms ==================================================================== */

button,
input,
label {
    color: inherit;
    font: inherit;
    cursor: pointer;
}

button {
    background-color: var(--inactive);
    border: none;
    border-radius: 12px;
    padding: 1ch;
}

button:hover,
label:hover {
    background-color: var(--active);
}


.quiz {
    margin-bottom: 6ch;
}

.quiz-fieldset {
    border: 1px dashed var(--trim);
}

.quiz-btn {
    margin-top: 2ch;
}
