/* generic stuff ------------------------------------------------------------ */

html {
    font-size: 1rem;
    line-height: 1.3;
}

body {
    background-color: #222;
    font-family: 'Noto Sans', Candara, sans-serif; 
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family: Merriweather, Cambria, Georgia, serif;
    text-align: center;
}

@media screen and (min-width: 64em){
    main {
        margin: 0 auto;
        width: 80vw;
    }
}


/* TEST ONE ----------------------------------------------------------------- */

.grid-3 {
    background-color: #5a93bd;
}

@media screen and (min-width: 64em){
    .grid-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
        margin-bottom: 5em;
    }
}

.box {
    background-color: #fff;
    padding: .5em;
}

.a {
    grid-column: 1 / 4;
    grid-row: 1;
}

.b {
    grid-column: 1 / 3;
    grid-row: 2;
}

.c {
    grid-column: 2;
    grid-row: 3;
}

.d {
    grid-column: 3;
    grid-row: 2 / 5;
}

.e {
    grid-column: 1;
    grid-row: 4;
}

/* TEST TWO ----------------------------------------------------------------- */

.grid-news {
    background-color: #fff;
}

@media screen and (min-width: 64em){
    .grid-news{
        display: grid;
        grid-template-columns: 66% 33%;
        grid-template-areas:
            "header header"
            "content aside";
    }
}

.header {
    grid-area: header;
    border-bottom: 1px solid #ddd;
}

.content {
    grid-area: content;
    padding: 1em;
}

.aside {
    grid-area: aside;
    background-color: #deb887;
    padding: .5em;
    text-align: center;
}

.byline {
    padding-left: .5em;
    
}

