/* generic stuff ------------------------------------------------------------ */
body {
    background-color: #222;
    font-family: 'Noto Sans', Candara, sans-serif; 
    font-size: 1.2em;
    line-height: 1.4; 
}

h1,
h2 {
    font-family: Merriweather, Cambria, Georgia, serif;
    text-align: center;
}

a {
    color: rgb(222,222,222);
    text-decoration: none;
}

@media screen and (min-width: 600px){
    .page-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2em;
        background-color: rgb(40, 78, 105);
        padding: 4px;
    }

    main {
        margin: 0 auto;
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1em;
    }

    .continue-a {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .continue-b {
        grid-column: 3;
        grid-row: 1;
    }

    .continue-c {
        grid-column: 4;
        grid-row: 1;
    }

    .continue-d {
        grid-column: 3;
        grid-row: 2;
    }

    .viewq {
        grid-column: 4;
        grid-row: 2;
    }

    .newshows {
        grid-column: 1/3;
        grid-row: 3;
    }

    .shopbox {
        grid-column: 3/5;
        grid-row: 3;
    }

}

/* after looking at all this it's a damn mess. Flexbox probably better. Oops. 
 * At least this can serve as an example of what not to do, ha ha. 
 */

.cell {
    background-color: rgb(90,147,189); 
    padding: .5em;
}

.cell:hover {
    animation: jelly .5s;
}

@keyframes jelly {
    0%,
    100% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.95, 1.05);
    }
    50% {
      transform: scale(1.05, 0.95);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
}
/* via cssfx.dev, I wanted some sort of animation on hover, this is nifty, for now. */
