/* SUPPORTED: Firefox 60+ / Chrome 60+ / Safari 11+ // Edge 16+ / Opera 60+ 
 * 
 * basic layout and inline elements up top. 
 * Since mobile has least to add, throw that into the default, what could go wrong? 
* --------------------------------------------------------------------------- */

html {
    box-sizing: border-box; 
    font-size: 1rem;
    text-rendering: optimizeLegibility;
}

body {
    background-color: hsl(0, 0%, 13%);
    color: hsl(0, 0%, 87%);
    font-family: 'Noto Sans', Candara, sans-serif; 
    font-size: 1.2em;
    line-height: 1.4; 
    scroll-behavior: smooth;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: Merriweather, Cambria, Georgia, Palatino, serif; 
    line-height: 1.125; 
}

button,
input,
textarea {
    font: inherit;
    margin: 0;
}

a {
    color: hsl(0, 0%, 87%);
    text-decoration: none;
}

.page-header {
    background-color: hsl(205, 49%, 19%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; 
}

.page-header a:hover {
    text-decoration: underline; 
}

.historia {
    display: flex;
    flex-direction: column;
    align-content: space-between; 
    margin: 2em 0;
}

/* need little boxes for the video info 
 * I stuck a border on since I didn't have little album cover art but it makes 
 * a fugly gap around the boxes that are images. 
*/
.cell {
    border: 2px solid hsl(205, 45%, 28%); 
    padding: .5em;
}

.cell:hover {
    border: 2px solid hsl(205, 43%, 55%);
    box-shadow: 0 0 1em hsl(205, 43%, 55%);
    transform: scale(1.03, 1.03);
}

/* at least they won't go spilling off the side */
.preview,
.thumbbox {
    width: 90%;
    height: 90%; 
}


/* big screen layout -------------------------------------------------------- */
@media screen and (min-width: 600px) {
    .page-header {
        flex-direction: row; 
        padding: .25em;
    }

    body {
        margin: 0 1em;
    }

/* make a space like Funimation has for recent shows, grid to be ergonomic etc 
 * I'm not especially confident in this layout but worried just having 100 rows of boxes is mind numbing. 
*/

    .historia {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1em;
    }

    .continue-a {
        grid-column: 1/3;
        grid-row: 1/3;
        background: no-repeat url("https://i.imgur.com/JdlYGp0.jpg");
        background-size: cover; 
    }

    .continue-b {
        grid-column: 3;
        grid-row: 1;
    }

    .continue-c {
        grid-column: 4;
        grid-row: 1;
    }

    .continue-d {
        grid-column: 3;
        grid-row: 2;
    }

    .viewq {
        grid-column: 4;
        grid-row: 2;
    }

    /* the main repeating element, the line of little boxes to hold all the shows */

    .thumblist {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .thumbbox {
        width: 12vw;
        height: 12vw; 
    }
} /* end big screen --------------------------------------------------------- */

