/* generic stuff ----------------------------------------------------------- */

body {
    background-color: #fff;
    color: #404040; 
    font-family: 'Source Sans Pro', 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    line-height: 1.2; 
    -webkit-text-size-adjust: 100%; 
    /* Safari will support grid in 2017. We aren't supporting IE or Edge. */
}

h2 {
    margin: .3em;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 2em;
}

.site-nav a {
    padding: 0 .3em;
    color: inherit;
}

input {
    border: .125em solid #02c04a; /* if 1 em = 16px then .125 em = 2px */
    color: inherit;
    font: inherit;
    margin: 0;
    width: 10em;
}

main {
    margin: 0 auto; 
    padding: 1em;
}

.byline {
    font-size: 0.8em;
}

/* the grid stuff ---------------------------------------------------------- */

.grid-news {
    display: grid;
    grid-template-areas: 
        "header"
        "content" 
        "aside";
    margin-bottom: 5em;
}

@media only screen and (min-width: 600px){
    .grid-news{
        grid-template-columns: 66% 33%;
        grid-template-areas:
            "header header"
            "content aside";
    }
}

.grid-header {
    grid-area: header;
}

.grid-content {
    grid-area: content;
    padding: 1em;
}

.grid-aside {
    grid-area: aside;
    padding: .5em;
    text-align: center;
}

/* ------------------------------------------------------------------------- */
/* Yes my style of naming here is just like Bootstrap! 
*/

@media only screen and (min-width: 800px){
    .grid-col2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
        margin-bottom: 5em;
    }
    
    .grid-col4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2em;
        margin-bottom: 5em;
    }
}

/* well not this one, it's obviously a programmer joke */

.divitis {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.mini-header {
    grid-column: 1;
    grid-row: 1;
}

.mini-content {
    grid-column: 1;
    grid-row: 2;
}

.mini-aside {
    grid-column: 2;
    grid-row: 1 / 3;
}





