/* modern and mobile: Chrome, Safari (and it will all work in Firefox). 
 * I wanted the number for the local humane society, used internet,  
 * and their website is using HTML4 with tables, so why not donate something
 * that will work on phones so people will be able to find the phone number 
 * etc when they're out driving and see a stray animal. 
 */

html {
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #f7f5ee;
    color: #222222;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.3;
}

@media screen and (min-width: 600px) {
    body {
        font-size: 1.1em;
        margin: 0 auto;
        width: 40em;
    }
}

.contactinfo {
    margin-bottom: 3em;
    text-align: center;
}

.contactinfo ul {
    font-weight: 900;
    padding: 0;
}

.contactinfo ul li {
    list-style-type: none;
}

article {
    margin-bottom: 3em;
}

h3 {
    margin: 0 0 1em;
}
