/* 
 * Desktop: FF 45+, Chrome 50+. 
 * Mobile: Safari, Chrome, misc I need to research as mobile centric test. 
 */
 
html {
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
}

body {
    background-color: #fbfcf7;
    color: #080401;
	font-family: Candara, Geneva, "Fira Sans", Roboto, sans-serif;
	font-size: 1em;
}

@media screen and (min-width: 800px) {
    body {
        font-size: 1.1em;
        margin: 0 auto;
        width: 40em;
    }
}

article {
    margin-bottom: 2em;
    border: 1px solid #aaa; 
    border-radius: 1em;
    padding: 0.5em;
}

h1, 
h2, 
h3 {
    text-align: center; 
}

.bubble { 
    background-color: rgb(190,230,250);
    border: none;
    border-radius: .5em;
    font-weight: 700;
    padding: .5em;
    text-align: center;
}



