/* TABLE OF CONTENTS
 * 1. Overall layout: body, main
 * 2a. header and footer for page (to avoid confusion if use those elements in articles)
 * 2b. <nav> in header and footer 
 * 3. <article> and <section> 
 * 4. Misc elements, inline and block
 * 5. Tables
 * 6. Forms default, search-form 
 * 7. Custom styles that can be used on any block and/or inline
*/ 
/* SECTION 1: OVERALL LAYOUT ................................................. */

body {
        /* http://lea.verou.me/css3patterns/ */
    background-color: rgb(143,188,143); /* DarkSeaGreen */
    background-image: 
        linear-gradient(90deg, rgba(190,235,190,.07) 50%, transparent 50%),
        linear-gradient(90deg, rgba(153,198,153,.13) 50%, transparent 50%),
        linear-gradient(90deg, transparent 50%, rgba(128,163,128,.17) 50%),
        linear-gradient(90deg, transparent 50%, rgba(190,235,190,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
    
    font-family: Candara, Tahoma, Geneva, Sans-Serif;
    font-size: 105%;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
}

main {
    margin: 0 auto;
    margin-top: 64px;
    max-width: 800px;
    /* No fancy flex here, just plain old 2010 web 2.0 style centering */
}

/* 2A: HEADER AND FOOTER ------------------------------------------------------- */

/* Using flex for layout, is mostly working, except IE11 smaller than ~450px  
 * wide it just falls to bits. Suggested fixes do nothing. Since big works and 
 * barely used on phones will just put on bug list. 
*/

.page-header {
    background-color: white;
    box-shadow: 0px 6px 4px rgba(60,60,60,.5);
    padding: .2em 0;
    margin-bottom: 2em;
}

@media all and ( min-width: 481px ) {
    .page-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 99;
    }
}
/* if you add padding to the side of the header, which I did to keep the button 
easy to see, making the width 100% pushes the right edge out of the window, so 
ironically causing what was trying to avoid. this is only a prob when fixed pos. 
it may not help using flex inside the form on the box and button, which I only 
used because I liked the look I made but nobody adds the button anymore. 
*/


@media screen and ( max-width: 480px ) {
    .page-header { 
        flex-direction: column;
        align-items: stretch;
        text-align: center;
    }
}

.page-footer {
    background-color: white;
    margin-top: 1em; 
    padding: 0.5em; 
    /* needs padding all around or doesn't touch bottom of browser window */
}


/* 2B: MAIN PAGE NAV in header ------------------------------------------------ */

.page-nav {
    flex: 1 0 0%;
    font-size: 110%;
}

/* needed some spacing */
nav a {
    color: black;
    padding: 0 .2em;
}

/* want the h1 for SEO/access but w/out using too much space... */
.nomen {
    display: inline;
    margin: 0 auto;
    font-size: inherit;
}

/* SEARCH FORM is below basic form layout, logic of being subset is more important 
than ordering by overall page layout */


/* ----------------------------------------------------------------------------
 * SECTION 3: ARTICLE RELATED
 */

article {
    margin-bottom: 2em;
}

/*  .post functions as a row */
.post {
    display: flex;
    align-items: flex-start;
}

/* set up so small screens will have icon on top instead of side- i.e. they'll
 * stack like plain old css boxes.
*/
@media screen and ( max-width: 480px ) {
    .post { 
        flex-direction: column;
    }
}

/* the column elements */
.post-icon {
    margin-right: .5em;
}

.post-body {
    flex: 1 0 0%; /* another IE fix!? It never ends! */
    background-color: white;
    border-radius: 12px;
    margin-bottom: 0.5em;
    padding: 0.5em 1em;
}

/* the strip under posts with save, like, reblog, etc */
.post-controls, 
.post-tags {
    border-top: 1px solid rgb(176, 148, 127); 
    font-size: 0.9em;
}

.post-tags a {
    color: rgb(112,128,144);
    padding: 0 .2em;
}

.activated {
    background-color: rgb(224,245,255);
    color: #999;
}

/* For first paragraph in serious news/thoughtful story, larger font to grab 
 * readers and pull in. I'd rather do this automagically but first-child won't 
 * let you specify 'p' or anything. 
 */ 
.leader {
    font-size: 1.2em;
}

/* make all paragraphs after first be indented, oldschool printing style */
/* made this specific to text-based posts because it looks funky w/ mixed media */
.literature p + p {
    text-indent: 1.5em; 
}

/* SECTION 4: MISC ELEMENTS ------------------------------------------------ */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    border-left: 1px solid rgb(176, 148, 127);
    border-top:  1px solid rgb(176, 148, 127);
    margin: 0;
    padding-left: 0.333em;
}

h1, h2, h3, h4, h5, h6{
    font-family: Cambria, Georgia, Palatino, serif;
}

/* LIST ELEMENTS */
ul, ol {
    background-color: rgb(245, 240, 220);
    border: 1px solid rgb(176, 148, 127);
    padding: 0.5em;
}

ol {
    list-style-position: inside;
}

ul li {
    list-style-type: none;
}

ul li:before {
    content: "\2744"; /* special snowflake */
}


/* 4B: MULTIMEDIA */

/* tame any giant images so layout won't get wrecked */

img {
    max-width: 600px;
}

@media screen and ( max-width: 400px ) {
    img {
        max-width: 300px;
    }
}

/* want this to be standalone */
video {
    display: block; 
    margin: 1em 0;
}

/* 4C: CODE- basics, rest covered if include Prism css/js. Regardless, code 
 * SHOULD BE marked up in the same way, "style=language-abcd" 

*/

code, 
code[class*="language-"],
pre[class*="language-"] {
	font-family: 'Source Code Pro', 'DejaVu Sans Mono', Consolas, monospace;
}


/* SECTION 5: TABLES ------------------------------------------------------ */

table{ 
    border: 1px solid rgb(176,148,127);
    margin: 12px 0;
}

tr:nth-of-type(odd) {
    background-color: rgb(245,240,222);
}

/* SECTION 6:: FORM ELEMENTS ----------------------------------------------- */

form {
    background-color: rgb(255,255,255);
}

button {
    background-color: rgb(255,255,255);
    border: none;
}

button:hover{
    background-color: rgb(176,224,230);
}

.submit-button{
    border: 1px solid rgb(176,224,230);
    border-radius: 10px;
}

label {
    display: inline-block;
    width: 40em;
    text-align: right;
}

legend{
	font-size: 1.1em;
	font-weight: bold;
}

/* SEARCH FORM ------------------------------------------------------------ */

/* a bit of extra code but using flex squishes the form and button together 
.search-form {
    display: flex;
}

.search-box {
    flex: 1 0 200px;
}

.search-button{
    border: 1px solid rgb(176,224,230);
    border-radius: 0 10px 10px 0;
}

*/



/* SECTION 7 -------------------------------------------------------------- */

.bubble {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.5);
}