/* Desktop: Chrome, Firefox current # - 3
 * Phone: probably have to commit to older, assume at least half will be ppl out and
 * about looking things up quick. 
 * The plus is we can have a basic fallback for mobile but have fun with big screen. 
 * 95% support even with those constraints: main, grid, CSS variables, calc(), prefers-color-scheme
 * Use var() so can go back and implement changes more easily. 
 * Not sure of light/dark themes or just one neutral is best goal. 
*/

:root {
    --wallpaper: hsl(220, 19%, 81%);
    --paper: hsl(220, 3%, 95%);
    --ink: hsl(0, 0%, 8%);
    --shadow1: hsl(0, 4%, 66%);
    --shadow2: hsl(0, 0%, 45%);
    --action1: hsl(207, 100%, 70%);
}

html {
    font-size: 1rem;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
} /* Is this a useful reset? Does it impact speed? */

body {
    background-color: var(--wallpaper);
    font-family: 'Noto Sans', Candara, 'Lucida Sans', Geneva, sans-serif;
    color: var(--ink);
    font-size: 1.1em;
    line-height: 1.25;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    gap: 4em;
    justify-content: center;
}
/* temp 1 col layout while testing, 2 col for desktop is goal */

.page-header {
    background-color: var(--paper);
    display: flex;
    justify-content: space-evenly; /* spreads a bit too far on desktop, and at max width for phone */
    margin-bottom: 4em;
    padding: .25em;
}

.page-footer {
    background-color: var(--paper);
    margin-top: 5em; 
    padding: 2em; 
    text-align: center;
}

.page-footer a,
.page-header a {
    text-decoration: none;
}

.page-footer a:hover,
.page-header a:hover {
    text-decoration: underline;
}

.buttonish {
    background-color: var(--action1); 
    border: 0;
    border-radius: 1em;
    color: inherit;
    font-weight: bold;
    padding: .5em;
}

article {
    background-color: var(--paper);
    border-radius: 1em;
    box-shadow: 0 2em 1em var(--shadow1); /* X, Y, blur, spread */
    padding: 1em;
}
/* border OR shadow but not both. 
* border-image instead of plain old border????
* Speaking of artsy, let's try giving the headings a bit of visual interest while staying legible. 
* Courgette is OK, Merienda is interesting but not sure if legible enough. 
* For final may default back to slab and use the script in imagery instead. 
*/

h1, h2 {
    font-family: Courgette, cursive;
}

h3, h4, h5, h6 {
    font-family: 'Roboto Slab', 'Noto Serif', serif;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}


