html {
    font-size: 1rem;
    background-color: #040404;
    color: #fbfcf7;
    font-family: Cambria, Merriweather, serif;
    line-height: 1.3;
}

@media screen and (min-width: 800px) {
    body {
        width: 40em;
        margin: 0 auto;
        font-size: 1.1em;
    }
}

h1 {
    font-size: 3em;
    text-align: center;
}

.neon {
    color: #fbe27c;
    font-family: "Lato Black", sans-serif;
    margin-bottom: 124px;
    text-shadow:
      0 0 7px #f5b16a,
      0 0 14px #f5b16a,
      0 0 28px #f5b16a,
      0 0 56px #f38630,
      0 0 112px #f38630,
      0 0 124px #f38630;
}

.shadowmere {
    text-shadow: 
        3px 3px 0 #f38630,
        6px 6px 0 #b93a0d, 
        9px 9px 0 #720908; 
}

.frilly {
    border: 3px solid;
    border-image: linear-gradient(#fbe27c, #b93a0d, #720908) 10;
    padding: 1em;
}

