/* instead of bleeding edge I'll keep this sorta old for core layout, 2015 compatible. 
 * That should cover any old company devices, plus still get to use flexbox (except IE11 of course)
 * note IE11 -does- support HSL() but it turns out commas are now "legacy version" lol. 
*/

html {
    font-size: 1rem;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    border: 0;
    margin: 0;
}

body {
    font-family: Cambria, Merriweather, serif;
    line-height: 1.4;
    background-color: hsl(0, 0%, 2%);
    color: hsl(225, 40%, 98%);
    max-width: 40em;
    margin: 0 auto;
    padding-inline: 1em;
}

section {
    margin-bottom: 108px; 
    padding: 16px; 
}

article > p {
    padding: 1em 0;
}

.neon {
    color: hsl(48, 94%, 74%);
    font-family: "Lato Black", "Noto Sans", Candara, sans-serif;
    font-size: 3em;
    text-align: center;
    text-shadow:
      0 0 7px hsl(31, 87%, 69%),
      0 0 14px hsl(31, 87%, 69%),
      0 0 28px hsl(31, 87%, 69%),
      0 0 56px hsl(26, 89%, 57%),
      0 0 112px hsl(26, 89%, 57%),
      0 0 124px hsl(26, 89%, 57%);
}

.shadowmere {
    font-size: 2em;
    text-shadow: 
        3px 3px 0 hsl(26, 89%, 57%),
        6px 6px 0 hsl(16, 87%, 39%), 
        9px 9px 0 hsl(1, 87%, 24%); 
}

.frilly {
    border: 3px solid;
    border-image: linear-gradient(hsl(48, 94%, 74%), hsl(16, 87%, 39%), hsl(1, 87%, 24%)) 10;
}

.darkglow {
    box-shadow: 3px 6px 12px rgb(1, 28, 48), 6px 16px 48px rgba(33, 88, 128, 0.5);
}

/* Let's just make it an actual button and set up some defaults. */

button {
    border: none;
    border-radius: .5em;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
    padding: .5em 1em;
}

.backlit-button {
    background-color: hsl(206, 96%, 10%);
    box-shadow: 0 0 12px hsl(206, 34%, 26%), 0 0 24px hsl(206, 30%, 59%);
}

.backlit-button:hover {
    background-color: hsl(206, 97%, 15%);
    box-shadow: 0 0 12px hsl(206, 24%, 61%), 0 0 30px hsl(206, 45%, 83%);
}

.backlit-button:active {
    background-color: hsl(206, 97%, 15%);
    box-shadow: 0 0 18px hsl(206, 24%, 61%), 0 0 36px hsl(206, 45%, 83%);
}

.neon-button {
    background-color: hsl(206, 96%, 10%);
    border: hsl(206, 24%, 61%) 4px solid;
    box-shadow: inset 0 0 18px 0 hsl(206, 24%, 61%), 0 0 18px 0 hsl(206, 24%, 61%);
}

.neon-button:hover {
    background-color: hsl(51, 96%, 10%);
    border: hsl(51, 76%, 83%) 4px solid;
    box-shadow: inset 0 0 18px 0 hsl(51, 62%, 80%), 0 0 18px 0 hsl(51, 66%, 66%);
}


.card {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    border-radius: .25em;
    position: relative;
    isolation: isolate;
}

.card__title {
    line-height: 1em;
}

.bg1 {
    background: linear-gradient(120deg, hsl(48, 96%, 20%), hsl(26, 96%, 20%), hsl(1, 96%, 20%));
}

.bg1::before,
.bg1::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: inherit;
}

.bg1::before {
    filter: blur(1em);
}

.bg1::after {
    filter: blur(3em);
    opacity: 0.5;
}


.bg2 {
    background: linear-gradient(45deg, hsl(206, 96%, 20%), hsl(6, 96%, 20%));
}

.bg2::before, 
.bg2::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: inherit;
}

.bg2::before {
    filter: blur(1em);
}

.bg2::after {
    filter: blur(2.5m);
    opacity: 0.5;
}

.bdfilter {
    background-color: hsla(28, 100%, 55%, 0.4);
    backdrop-filter: brightness(150%);
}


