/* TABLE OF CONTENTS ------------------------------------------------------- ||
 * 0: Imports and mixins, etc
 * 1. Overall layout: body, main
 * 2. header and footer for page 
 * 3. <article> and <section> 
 * 4. Misc elements, inline and block
 * 5. Tables
 * 6. Forms default, search-form 
*/ 

/* IMPORTS */@import 'normalize';

/* MIXINS */

/* VARS */

$font-sans-1: Candara, 'Lucida Sans Unicode', 'Liberation Sans', 'Fira Sans', Roboto, Sans-Serif;
$font-serif-1: Cambria, Georgia, Palatino, serif;
$font-serif-2: Constantia, "Palatino Linotype", Palatino, Gentium, serif;

$media-small: 481px;
$media-big: 900px;

/* this is actually terrible because "px" on some phones is huge, the "dp" is what need to use */

$action-color: #c7e1fb;
$action-darker: darken($action-color, 10%);

$text-color: #111;
$text-muted: #787276;

$apricot: #ed810f;

$buttermilk: #fdefb2;

$caramel: #66360f;

$koi: #f38630;

$pearl: #fbfcf7;

$pineapple: #ffe327;

$plum: #601a36;

$raspberry: #a91b0d;

$sportscar: #d31603;

$sky: #c7e1fb;


/* SECTION 1: OVERALL LAYOUT ................................................. */

/* defaults that will work on phones */
body {  
    background-color: $pearl;
    color: $text-color;
    font-family: $font-sans-1;
    font-size: 1em;
    line-height: 1.1em;
    margin: 0 .3em;
}

/* iPads and small windows on desktop */
@media screen and (min-width: $media-small) and (max-width: $media-big) {
    body {
        margin: 0 1em;
    }
}

@media screen and (min-width: $media-big) {
    body {
        font-size: 105%;
        line-height: 1.2em;
        margin: 0 auto;
        width: 800px;
    }
}


/* 2: HEADER AND FOOTER ------------------------------------------------------- */
.page-header {
    margin-bottom: 2em;
    padding-top: 0.5em;
}

.cell {
    padding-bottom: 0.5em;
    max-width: 100%;
}

nav a {
    padding: 0 .3em;
}
    


@media screen and ( min-width: $media-small ) {
    .page-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .cell {
        flex: 1;
    }
    
    nav {
        text-align: right;
    }

    nav a {
        text-decoration: none;
    }

    nav a:hover {
        text-decoration: underline;
    }
}


.nomen {
    display: inline-block;
    margin: 0;
}

.search-input {
    border: 3px solid $action-color;
    max-width: 300px;
}


.page-footer {
    border-top: 1px solid $caramel;
    margin-top: 1em; 
    margin-bottom: 2em;
}


/* SECTION 3: ARTICLE RELATED ---------------------------------------------- */

article {
    margin-bottom: 2em;
}

.product-media {
    text-align: center;
    margin-bottom: 1em;
}
/* media: not simply image, can be set of jpgs, <picture>, video, etc. 
 * text is just plain text 
*/

.product-purchase {
    border: 1px solid $caramel;
    text-align: center;
    padding: 0 0.5em; 
}

@media screen and ( min-width: $media-small ) {
    
    .product-text {
        flex: 0 0 70%;
    }

    .product-purchase {
        flex: 0 0 25%;
        align-self: flex-start;
        flex-grow: 1;
    }
    
    /* IE 10-11 don't respect border-box here. You can set the total to 
    less than 100%, but then it doesn't line up neatly on the right.  
    However, flex-grow will let it fill up the remaining space.... 
    */

    .product-review {
        border: 1px dotted $caramel;
    }

    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
}

.product-text h2 {
    margin-top: 0;
}

.stock-in {
    color: green;
}

.stock-out {
    color: $sportscar;
}

.warning-minor {
    color: $apricot;
}

/* SECTION 4: MISC ELEMENTS ------------------------------------------------ */

blockquote {
    margin: 0;
    padding-left: 0.25em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-serif-1;
}

img {
    max-width: 98%;
}

ol, ul {
    padding: 0.5em;
    list-style-position: inside;
}

video { 
    margin: 1em 0;
}


/* SECTION 5: TABLES ------------------------------------------------------ */

table { 
    margin: 12px 0;
}

/* SECTION 6: FORM ELEMENTS ----------------------------------------------- */

button {
    background-color: $action-color;
    border: none;
    border-radius: 3px;
    padding: 0.5em;
}

button:hover {
    background-color: $action-darker;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

