/* SECTION 1: BASIC LAYOUT ----------------------------------------------*/

html {
    font-size: 1rem;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #1e1e1e;
    color: #fbfcf7;
    font-family: "Source Sans Pro", Candara, sans-serif;
    margin: 1px; 
}

.page-header {
    background-color: #0e0e0e;
    padding: .3em 0; 
}

nav a {
    padding: 0 .3em; 
    text-decoration: none; 
}

nav a:hover {
    text-decoration: underline; 
}

.nomen {
    display: inline-block;
    margin: 0; 
}

.searchform input {
    border: 3px solid #2a5c44;
    width: 20em; 
}

.special-actions {
    background-color: #2d5c5e;
    padding: 0.3em;
    margin-bottom: 3em;
    text-align: center;
}

.thumbs {
    display: grid;
    grid-gap: .4em;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-bottom: 3em;
    text-align: center;
}

@media screen and (min-width: 800px) {
    body {
        font-size: 1.1em;
        line-height: 1.3;
    }

    .page-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    main {
        width: 90vw;
        margin: 0 auto;
    }

    .flexy {
        box-sizing: border-box;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .cell50 {
        flex: 0 0 49%;
    }

}

/* SECTION 2: ARTICLE RELATED ---------------------------------------------- */
article {
    background-color: #0e0e0e;
    margin-bottom: 2em;
    padding: 0.5em; 
}

.product-purchase {
    border: 2px solid #601a36;
    text-align: center;
    padding: 0 0.5em; 
}

@media screen and (min-width: 481px) {
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
    }
    
    .product-text {
        flex: 0 0 70%; 
    }

    .product-metadata {
        flex: 0 0 25%;
        align-self: flex-start;
        flex-grow: 1; 
    }

}

.unocommento {
    max-width: 40em;
}

/* SECTION 3: basic inline elements ----------------------------------------*/

a {
    color: white;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: Merriweather, Cambria, Georgia, Palatino, serif; 
}

h2 {
    margin-top: 0;
    text-align: center;
}

img {
    border: 0; 
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* SECTION 4: FORM ELEMENTS ----------------------------------------------- */

button {
    background: none;
    border: none;
    border-radius: 3px;
    color: inherit;
    font: inherit;
    padding: 0.25em; 
    cursor: pointer;
}

button:hover {
    background-color: #fbfcf7;
    color: #0e0e0e;
}

input {
    background-color: #0e0e0e;
}

fieldset {
    border: 1px solid rgb(123,196,134);
    margin: 0 2px;
    padding: 0.5em; 
}

input,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
