/* TABLE OF CONTENTS ------------------------------------------------------- ||
 * 0: Imports and mixins, etc
 * 1. Overall layout: body, main
 * 2. header and footer for page 
 * 3. <article> and <section> 
 * 4. Misc elements, inline and block
 * 5. Forms default, search-form 
*/ 

@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

$font-sans-1: 'Source Sans Pro', Candara, Roboto, sans-serif;  
$font-serif-1: Cambria, Georgia, Palatino, serif;
$font-cursive-1: 'Kaushan Script', cursive;

$media-small: 481px;
$media-big: 900px;

$action-color: #85c0fc;
$action-darker: darken($action-color, 10%);

$text-color: #111;
$text-muted: #787276;

/* color palette */

$koi: #f38630;
$pearl: #fbfcf7;
$plum: #601a36;
$sky: #c7e1fb;


/* SECTION 1: OVERALL LAYOUT ................................................. */

html {
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

body {  
    background-color: rgb(14,14,14);
    background-image: 
	  linear-gradient(90deg, rgba(32,32,32,.2) 50%, transparent 50%),
	  linear-gradient(90deg, rgba(64,64,64,.2) 50%, transparent 50%),
	  linear-gradient(90deg, transparent 50%, rgba(96,96,96,.2) 50%),
	  linear-gradient(90deg, transparent 50%, rgba(21,21,21,.2) 50%);
	background-size: 13px, 29px, 37px, 53px;
    /* http://lea.verou.me/css3patterns/#cicada-stripes */
    
    color: $text-color;
    font-family: $font-sans-1;
    line-height: 1.15;
    margin: 0 auto;
}

@media screen and (min-width: $media-big) {
    body {
        font-size: 1.1em;
        line-height: 1.3;
        width: 800px;
    }
}


/* 2: HEADER AND FOOTER ------------------------------------------------------- */
.page-header {
    background-color: $pearl;
    margin-bottom: 2em;
    padding: 0.5em 0;
}

.cell {
    max-width: 100%;
}

nav {
    text-align: center;
}

nav a {
    padding: 0 .3em;
}

@media screen and ( min-width: $media-small ) {
    .strip {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 0.5em;
    }
    
    .cell {
        flex: 1;
        flex-grow: 1;
        text-align: center;
    }

    nav a {
        text-decoration: none;
    }

    nav a:hover {
        text-decoration: underline;
    }
    
    .search-input {
        width: 44em;
    }
}

.nomen {
    display: inline-block;
    margin: 0;
}

.search-input {
    border: 3px solid $action-color;
    max-width: 22em;
}

main {
    display: block; // our only IE hack 
}

.page-footer {
    background-color: $pearl;
    margin-top: 1em; 
    padding-bottom: 2em;
}


/* SECTION 3: ARTICLE RELATED ---------------------------------------------- */

article {
    background-color: $pearl;
    border-radius: 1em;
    margin-bottom: 2em;
    padding: 0.5em;
}

.product-media {
    text-align: center;
    margin-bottom: 1em;
}

.product-purchase {
    border: 2px solid $plum;
    text-align: center;
    padding: 0 0.5em; 
}

@media screen and ( min-width: $media-small ) {
    
    .product-text {
        flex: 0 0 70%;
    }

    .product-purchase {
        flex: 0 0 25%;
        align-self: flex-start;
        flex-grow: 1;
    }

    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
}

.product-text h2 {
    margin-top: 0;
}

.stock-in {
    color: green;
}

.stock-out {
    color: $koi;
}

/* SECTION 4: MISC ELEMENTS ------------------------------------------------ */

h1, h2, h3 {
    font-family: $font-cursive-1;
}

/* for legibility, making the smaller sizes standard serifs */
h4, h5, h6 {
    font-family: $font-serif-1;
}

img {
    max-width: 100%;
}

ol, ul {
    padding: 0.5em;
    list-style-position: inside;
}

ul li {
    list-style-type: none;
}

ul li:before {
    content: "\2605"; 
}



/* SECTION 5: FORM ELEMENTS ----------------------------------------------- */

button {
    background-color: $action-color;
    border: none;
    border-radius: 3px;
    color: inherit;
    font: inherit;
    padding: 0.25em; 
    cursor: pointer;
}

button:hover {
    background-color: $action-darker;
}

input,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
