/* SECTION 1: BASIC LAYOUT ----------------------------------------------*/

html {
    font-size: 1rem;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: hsl(0, 0%, 16%);
    color: #fbfcf7;
    font-family: "Source Sans Pro", Candara, sans-serif;
    margin: 1px; 
}

.page-header {
    background-color: hsl(0, 0%, 12%);
    padding: .3em 0; 
}

nav a {
    padding: 0 .3em; 
    text-decoration: none; 
}

nav a:hover {
    text-decoration: underline; 
}

.nomen {
    display: inline-block;
    margin: 0; 
}

.searchform input {
    border: 3px solid hsl(151, 37%, 26%);
    width: 20em; 
}

.special-actions {
    background-color: hsl(182, 35%, 27%);
    padding: 0.3em;
    margin-bottom: 3em;
    text-align: center;
}

.thumbs {
    display: grid;
    grid-gap: .4em;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    margin-bottom: 3em;
    text-align: center;
}

@media screen and (min-width: 800px) {
    body {
        font-size: 1.1em;
        line-height: 1.3;
    }

    .page-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    main {
        width: 90vw;
        margin: 0 auto;
    }

    .flexy {
        box-sizing: border-box;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .cell50 {
        flex: 0 0 49%;
    }

}

/* SECTION 2: ARTICLE RELATED ---------------------------------------------- */
article {
    background-color: hsl(0, 0%, 12%);
    margin-bottom: 2em;
    padding: 0.5em; 
}

.product-purchase {
    border: 2px solid hsl(336, 57%, 24%);
    text-align: center;
    padding: 0 0.5em; 
}

@media screen and (min-width: 481px) {
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
    }
    
    .product-text {
        flex: 0 0 70%; 
    }

    .product-metadata {
        flex: 0 0 25%;
        align-self: flex-start;
        flex-grow: 1; 
    }

}

.unocommento {
    max-width: 40em;
}

/* SECTION 3: basic inline elements ----------------------------------------*/

a {
    color: white;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: Merriweather, Cambria, Georgia, Palatino, serif; 
}

h2 {
    margin-top: 0;
    text-align: center;
}

img {
    border: 0; 
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* SECTION 4: FORM ELEMENTS ----------------------------------------------- */

button {
    background: none;
    border: none;
    border-radius: 3px;
    color: inherit;
    font: inherit;
    padding: 0.25em; 
    cursor: pointer;
}

button:hover {
    background-color: hsl(72, 45%, 98%);
    color: hsl(0, 0%, 5%);
}

input {
    background-color: hsl(0, 0%, 12%);
}

fieldset {
    border: 1px solid hsl(129, 38%, 63%);
    margin: 0 2px;
    padding: 0.5em; 
}

input,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
