@charset "UTF-8";
/* VARS */
/* SECTION 1: OVERALL LAYOUT ------------------------------------------------ */
html {
  font-size: 1rem;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1em;
  line-height: 1.15;
  display: grid;
  justify-content: center;
}

/* 2: HEADER AND FOOTER ----------------------------------------------------- */
.page-header {
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
}

@media screen and (min-width: 900px) {
  .tortilla {
    max-width: 60em;
    display: grid;
    grid-template-columns: 12em 48em;
    gap: 1em;
  }
  .page-header {
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    max-height: 24em;
    z-index: 9;
  }
}
.page-header a {
  text-decoration: none;
}

/* SECTION 3: ARTICLE RELATED ----------------------------------------------- */
article {
  margin-bottom: 2em;
}

.post {
  padding: 0.5em 1em;
}

.post-controls,
.post-tags {
  font-size: 0.9em;
}

.post-tags a {
  padding: 0 0.2em;
  text-decoration: none;
}

.leader {
  font-size: 1.2em;
  text-justify: auto;
}

/* SECTION 4: MISC ELEMENTS ------------------------------------------------- */
blockquote {
  margin: 0;
  padding-left: 0.25em;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.quote-icon {
  height: 1em;
  width: 1em;
}

pre {
  padding: 0.5em;
}

ol, ul {
  padding: 0.5em;
  list-style-position: inside;
}

/* SECTION 5: TABLES -------------------------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0.75em 0;
  table-layout: auto;
}

td,
th {
  padding: 0.5em;
}

/* SECTION 6: FORM ELEMENTS ------------------------------------------------- */
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

button {
  color: inherit;
  padding: 0.25em;
  cursor: pointer;
}

input {
  max-width: 10em;
}

label {
  display: inline-block;
  width: 40em;
  text-align: right;
}

legend {
  font-weight: bold;
}

/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+php+python+scss */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*=language-],
pre[class*=language-] {
  color: #f8f8f2;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  border-left: 2px solid #222;
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #fb72a3;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.keyword {
  color: #72e8fb;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* ------------------------------------------------------------------------- */
body {
  background-color: hsl(18, 30%, 13%);
  color: hsl(0, 0%, 92%);
  font-family: "Noto Sans", Candara, "Fira Sans", Sans-Serif;
}

article,
header {
  background-color: hsl(17, 41%, 3%);
}

.post-tags {
  border-top: 1px solid hsl(20, 86%, 5%);
  font-size: 0.9em;
}

.activated {
  color: hsl(212, 41%, 71%);
}

a:hover {
  text-decoration: underline;
}

blockquote {
  border-left: 2px solid hsl(20, 86%, 5%);
  border-top: 2px solid hsl(20, 86%, 5%);
}

code,
pre {
  font-family: "Oxygen Mono", "DejaVu Sans Mono", Consolas, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", Cambria, Georgia, serif;
}

ul, ol {
  border: 1px dotted hsl(20, 86%, 5%);
}

ul li {
  list-style-type: none;
}

ul li:before {
  content: "★";
}

table {
  border: 1px solid hsl(20, 86%, 5%);
}

tr:nth-of-type(odd) {
  background-color: hsl(30, 18%, 33%);
}

th {
  background-color: hsl(29, 26%, 22%);
}

button {
  background-color: hsl(204, 51%, 29%);
  border: none;
  border-radius: 3px;
  padding: 5px;
}

button:hover {
  background-color: hsl(55, 69%, 45%);
  color: hsl(18, 30%, 13%);
}

input {
  border: none;
}

/*# sourceMappingURL=theme-evening.css.map */
