/*! normalize.css| MIT License | git.io/normalize 
* 2017 edit w/ some other bits, support focus on: 
* Chrome 55+, Firefox 50+, Safari 10+, IE 11, Edge 14
*/
*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  -webkit-text-size-adjust: 100%; }

/* For IE 11 */
main {
  display: block; }

a {
  -webkit-text-decoration-skip: objects; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  overflow: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* if console complains about not recognizing overflow-wrap see this: */
  /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  padding: .5em;
  white-space: pre;
  white-space: pre-wrap; }

code,
pre {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
select {
  text-transform: none; }

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
  text-transform: none; }

button {
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

fieldset {
  margin-bottom: 1em;
  padding: 0.35em; }

legend {
  border: 0;
  padding: 0; }

/* VARS */
/* SECTION 1: OVERALL LAYOUT ................................................. */
body {
  font-size: 1rem;
  line-height: 1.1;
  margin: 0;
  padding: 0; }

main {
  margin: 0 auto; }

@media screen and (min-width: 481px) {
  main {
    margin-top: 4em;
    /* about 64px if 1em = 16px */
    width: 95vw; } }
@media screen and (min-width: 900px) {
  body {
    line-height: 1.2; }

  main {
    width: 50em;
    /* about 800px */ } }
/* 2: HEADER AND FOOTER ------------------------------------------------------- */
.page-header {
  margin-bottom: 2em;
  padding: .3em; }

@media screen and (min-width: 481px) {
  .page-header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 9; }

  .cell {
    flex: 1; } }
.page-footer {
  margin-top: 1em;
  padding: 0.5em; }

.page-nav {
  font-size: 105%; }

nav a {
  padding: 0 .2em;
  text-decoration: none; }

.nomen {
  display: inline-block;
  margin: 0 auto;
  font-size: inherit; }

/* SECTION 3: ARTICLE RELATED ---------------------------------------------- */
article {
  margin-bottom: 2em; }

.post {
  padding: 0.5em 1em; }

.post-controls,
.post-tags {
  font-size: 0.9em; }

.post-tags a {
  padding: 0 .2em;
  text-decoration: none; }

.leader {
  font-size: 1.2em; }

/* SECTION 4: MISC ELEMENTS ------------------------------------------------ */
blockquote {
  margin: 0;
  padding-left: 0.25em; }

.quote-icon {
  height: 1em;
  width: 1em; }

pre {
  padding: .5em; }

ol, ul {
  padding: 0.5em;
  list-style-position: inside; }

/* SECTION 5: TABLES ------------------------------------------------------ */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: .75em 0;
  table-layout: auto; }

td,
th {
  padding: .5em; }

/* SECTION 6: FORM ELEMENTS ----------------------------------------------- */
label {
  display: inline-block;
  width: 40em;
  text-align: right; }

legend {
  font-weight: bold; }

/* SECTION 7 -------------------------------------------------------------- */
.pagination {
  display: flex;
  flex-flow: row wrap; }

.pagination-button {
  padding: .5em;
  border-radius: 10px;
  flex: 1; }

/* prism lite -------------------------------------------------------------- */
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  background: #f5f0dc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  background: #f5f0dc; }

/* Code blocks */
pre[class*="language-"] {
  border: 1px solid #b0947f;
  margin: .5em 0; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

.token.comment,
.token.prolog,
.token.doctype {
  color: #708090; }

.token.punctuation {
  color: #999; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59; }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.regex,
.token.important {
  color: #e90; }

.token.important {
  font-weight: bold; }

.token.entity {
  cursor: help; }

/* ------------------------------------------------------------------------- */
body {
  font-family: Candara, "Fira Sans", Roboto, Sans-Serif; }

.page-header {
  background: white; }

@media screen and (min-width: 481px) {
  .page-header {
    border-bottom: 1px solid #444; } }
nav a {
  color: black; }

nav a:hover {
  text-decoration: underline; }

.post-controls,
.post-tags {
  border-top: 1px solid #444;
  font-size: 0.9em; }

.post-tags a {
  color: gray; }

.post-tags a:hover {
  text-decoration: underline; }

.activated {
  background-color: #ecf5fe;
  color: gray; }

blockquote {
  border-left: 2px solid #444;
  border-top: 2px solid #444; }

code,
pre {
  font-family: "DejaVu Sans Mono", "Ubuntu Mono", Consolas, monospace; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Cambria, Georgia, Palatino, serif; }

ul, ol {
  border: 1px solid #444; }

ul li {
  list-style-type: none; }

ul li:before {
  content: "\2744"; }

table {
  border: 1px solid #444; }

tr:nth-of-type(odd) {
  background-color: #fad8b5; }

th {
  background-color: #f5b16a; }

button {
  background-color: #ecf5fe;
  border: none; }

button:hover {
  background-color: #c7e1fb; }

/*# sourceMappingURL=theme-white.css.map */
