
@import 'normalize2016';
@import 'core';
@import 'prism-lite';


$theme-color: rgb(243,134,48);
$theme-shadow: rgb(55,30,4);

$action-color: #c7e1fb;
$action-muted: #ecf5fe;
$action-shadow: darken($action-color, 80%);

$paper1: white;
$paper2: ivory;

$text-muted: gray;

$th-color: $theme-color;
$zebra: rgb(255,235,200);


/* ------------------------------------------------------------------------- */

body {
    background: linear-gradient($theme-color, $theme-shadow);
    background-color: $theme-color;
}

.page-header {
    background-color: $paper2;
    box-shadow: 0px 6px 4px rgba($action-shadow, .5);
}

.page-footer {
    background-color: $paper2;
}

nav a {
    color: black;
}

nav a:hover {
    text-decoration: underline;
}

.post-body {
    background-color: $paper1;
    border-radius: 12px;
}

.post-controls, 
.post-tags {
    border-top: 1px solid $theme-shadow; 
    font-size: 0.9em;
}

.post-tags a {
    color: $text-muted;
}

.post-tags a:hover {
    text-decoration: underline;
}

.activated {
    background-color: $action-muted;
    color: $text-muted;
}

blockquote {
    border-left: 2px solid $theme-shadow;
    border-top:  2px solid $theme-shadow;
}

ul, ol {
    border: 1px solid $theme-shadow;
}

ul li {
    list-style-type: none;
}

ul li:before {
    content: "\2600"; 
}


table{ 
    border: 1px solid $theme-shadow;
}

tr:nth-of-type(odd) {
    background-color: $zebra;
}

th {
    background-color: $th-color;
}

form {
    background-color: $paper2;
}

button {
    background-color: $paper1;
    border: none;
}

button:hover {
    background-color: $action-color;
}


