
@import 'normalize2016';
@import 'core';
@import 'prism-dark';


$theme-color: #111;
$theme-shadow: #555;

$action-color: #ecbd00;
$action-muted: #ffefb1;

$paper1: #111;
$paper2: black;

$font-color: white;
$text-muted: #74919d;

$fonts-sans: 'Noto Sans', Candara, 'Fira Sans', Sans-Serif;
$fonts-serif: 'Noto Serif', Cambria, Georgia, serif;
$fonts-mono: 'Oxygen Mono', 'DejaVu Sans Mono', Consolas, monospace;

$th-color: #777;
$zebra: #222;


/* ------------------------------------------------------------------------- */

body {
    background-color: $theme-color;
    color: $font-color;
    font-family: $fonts-serif;
}

.page-header {
    background-color: $paper2;
}
 
.post-tags {
    border-top: 1px solid $theme-shadow; 
    font-size: 0.9em;
}

.activated {
    color: $text-muted;
}

a {
    color: $text-muted;
}

a:hover {
    color: $action-color;
    text-decoration: underline;
}

blockquote {
    border-left: 2px solid $theme-shadow;
    border-top:  2px solid $theme-shadow;
}

code, 
pre {
    font-family: $fonts-mono;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: $fonts-sans;
}


ul, ol {
    border: 1px dotted $theme-shadow;
}

ul li {
    list-style-type: none;
}

ul li:before {
    content: "\2605"; 
}

table { 
    border: 1px solid $theme-shadow;
}

tr:nth-of-type(odd) {
    background-color: $zebra;
}

th {
    background-color: $th-color;
}

button {
    background-color: $action-muted;
    border: none;
    border-radius: 3px; 
    padding: 5px;
}

button:hover {
    background-color: $action-color;
}

input {
    background-color: $text-muted;
    border: none; 
}

