@charset "UTF-8";
/* VARS */
/* SECTION 1: OVERALL LAYOUT ------------------------------------------------ */
html {
  font-size: 1rem;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1em;
  line-height: 1.15;
  display: grid;
  justify-content: center;
}

.tortilla {
  max-width: 60em;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1em;
}

/* 2: HEADER AND FOOTER ----------------------------------------------------- */
.page-header {
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
}

@media screen and (min-width: 900px) {
  .page-header {
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    max-height: 24em;
  }
}
.page-footer {
  margin-top: 1em;
  padding: 0.5em;
}

.page-header a {
  text-decoration: none;
}

/* SECTION 3: ARTICLE RELATED ----------------------------------------------- */
article {
  margin-bottom: 2em;
}

.post {
  padding: 0.5em 1em;
}

.post-controls,
.post-tags {
  font-size: 0.9em;
}

.post-tags a {
  padding: 0 0.2em;
  text-decoration: none;
}

.leader {
  font-size: 1.2em;
  text-justify: auto;
}

/* SECTION 4: MISC ELEMENTS ------------------------------------------------- */
blockquote {
  margin: 0;
  padding-left: 0.25em;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.quote-icon {
  height: 1em;
  width: 1em;
}

pre {
  padding: 0.5em;
}

ol, ul {
  padding: 0.5em;
  list-style-position: inside;
}

/* SECTION 5: TABLES -------------------------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0.75em 0;
  table-layout: auto;
}

td,
th {
  padding: 0.5em;
}

/* SECTION 6: FORM ELEMENTS ------------------------------------------------- */
button {
  color: inherit;
  font: inherit;
  padding: 0.25em;
  cursor: pointer;
}

label {
  display: inline-block;
  width: 40em;
  text-align: right;
}

legend {
  font-weight: bold;
}

/* SECTION 7 ---------------------------------------------------------------- */
.pagination {
  display: flex;
  flex-flow: row wrap;
}

.pagination-button {
  padding: 0.5em;
  border-radius: 10px;
  flex: 1;
}

/* prism lite -------------------------------------------------------------- */
pre[class*=language-]::-moz-selection, pre[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection, code[class*=language-] ::-moz-selection {
  background: rgb(245, 240, 220);
}

pre[class*=language-]::selection, pre[class*=language-] ::selection,
code[class*=language-]::selection, code[class*=language-] ::selection {
  background: rgb(245, 240, 220);
}

/* Code blocks */
pre[class*=language-] {
  border: 1px solid rgb(176, 148, 127);
  margin: 0.5em 0;
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype {
  color: #708090;
}

.token.punctuation {
  color: #999;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.regex,
.token.important {
  color: #e90;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

/* ------------------------------------------------------------------------- */
body {
  background: linear-gradient(90deg, rgb(243, 134, 48), rgb(255, 200, 100), rgb(243, 134, 48));
  background-color: rgb(243, 134, 48);
  font-family: "Noto Sans", Candara, "Fira Sans", Sans-Serif;
}

.page-header,
.page-footer {
  background-color: ivory;
}

nav a {
  color: black;
}

nav a:hover {
  text-decoration: underline;
}

.post {
  background-color: ivory;
  border-radius: 12px;
}

.post-controls,
.post-tags {
  border-top: 1px solid rgb(55, 30, 4);
  font-size: 0.9em;
}

.post-tags a {
  color: gray;
}

.post-tags a:hover {
  text-decoration: underline;
}

.activated {
  background-color: #ecf5fe;
  color: gray;
}

blockquote {
  border-left: 2px solid rgb(55, 30, 4);
  border-top: 2px solid rgb(55, 30, 4);
}

code,
pre {
  font-family: "Oxygen Mono", "DejaVu Sans Mono", Consolas, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", Cambria, Georgia, serif;
}

ul, ol {
  border: 1px solid rgb(55, 30, 4);
}

ul li {
  list-style-type: none;
}

ul li:before {
  content: "☀";
}

table {
  border: 1px solid rgb(55, 30, 4);
}

tr:nth-of-type(odd) {
  background-color: rgb(255, 200, 100);
}

th {
  background-color: rgb(243, 134, 48);
}

form {
  background-color: ivory;
}

button {
  background-color: ivory;
  border: none;
}

button:hover {
  background-color: #9abaff;
}

/*# sourceMappingURL=theme-orange.css.map */
