
@import 'core';
@import 'prism-lite';


$theme-color: rgb(243,134,48);
$theme-shadow: rgb(55,30,4);

$action-color: #9abaff;
$action-muted: #ecf5fe;

$fonts-sans: 'Noto Sans', Candara, 'Fira Sans', Sans-Serif;
$fonts-serif: 'Noto Serif', Cambria, Georgia, serif;
$fonts-mono: 'Oxygen Mono', 'DejaVu Sans Mono', Consolas, monospace;

$paper: ivory;

$text-muted: gray;

$th-color: $theme-color;
$zebra: rgb(255,200,100);


/* ------------------------------------------------------------------------- */

body {
    background: linear-gradient(90deg, $theme-color, $zebra, $theme-color);
    background-color: $theme-color;
    font-family: $fonts-sans;
}

.page-header,
.page-footer {
    background-color: $paper;
}

nav a {
    color: black;
}

nav a:hover {
    text-decoration: underline;
}

.post {
    background-color: $paper;
    border-radius: 12px;
}

.post-controls, 
.post-tags {
    border-top: 1px solid $theme-shadow; 
    font-size: 0.9em;
}

.post-tags a {
    color: $text-muted;
}

.post-tags a:hover {
    text-decoration: underline;
}

.activated {
    background-color: $action-muted;
    color: $text-muted;
}

blockquote {
    border-left: 2px solid $theme-shadow;
    border-top:  2px solid $theme-shadow;
}

code, 
pre {
    font-family: $fonts-mono;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: $fonts-serif;
}

ul, ol {
    border: 1px solid $theme-shadow;
}

ul li {
    list-style-type: none;
}

ul li:before {
    content: "\2600"; 
}

table { 
    border: 1px solid $theme-shadow;
}

tr:nth-of-type(odd) {
    background-color: $zebra;
}

th {
    background-color: $th-color;
}

form {
    background-color: $paper;
}

button {
    background-color: $paper;
    border: none;
}

button:hover {
    background-color: $action-color;
}

