
@import 'normalize2016';
@import 'core';
@import 'prism-lite';


$theme-shadow: #444;

$action-color: #c7e1fb;
$action-muted: #ecf5fe;
$action-shadow: darken($action-color, 80%);

$paper1: white;
$paper2: ivory;

$text-muted: gray;

$th-color: #f5b16a;
$zebra: #fad8b5;

$rainbow1: linear-gradient(red, orange, yellow, green, blue, purple);
$rainbow45: linear-gradient(45deg, red, orange, yellow, green, blue, purple);

/* ------------------------------------------------------------------------- */

.page-header {
    background: $paper1;
}

@media screen and ( min-width: 481px ) {
    .page-header {
        border-bottom: 1px solid $theme-shadow;
    }
}

nav a {
    color: black;
}

nav a:hover {
    text-decoration: underline;
}

.post-controls, 
.post-tags {
    border-top: 1px solid $theme-shadow; 
    font-size: 0.9em;
}

.post-tags a {
    color: $text-muted;
}

.post-tags a:hover {
    text-decoration: underline;
}

.activated {
    background-color: $action-muted;
    color: $text-muted;
}

blockquote {
    border-left: 2px solid $theme-shadow;
    border-top:  2px solid $theme-shadow;
}

ul, ol {
    border: 1px solid $theme-shadow;
}

ul li {
    list-style-type: none;
}

ul li:before {
    content: "\2744"; 
}

table { 
    border: 1px solid $theme-shadow;
}

tr:nth-of-type(odd) {
    background-color: $zebra;
}

th {
    background-color: $th-color;
}

button {
    background-color: $action-muted;
    border: none;
}

button:hover {
    background-color: $action-color;
}


