
@import 'normalize2016';
@import 'core';
@import 'prism-lite';


$theme-shadow: #444;

$action-color: rgb(90,147,189);
$action-muted: #a1b5bd;
$action-shadow: darken($action-color, 80%);

$paper1: white;
$paper2: ivory;

$text-muted: gray;

$fonts-sans: 'Noto Sans', Candara, 'Fira Sans', Sans-Serif;
$fonts-serif: 'Noto Serif', Cambria, Georgia, serif;
$fonts-mono: 'Oxygen Mono', 'DejaVu Sans Mono', Consolas, monospace;

$th-color: #f5b16a;
$zebra: #fad8b5;


/* ------------------------------------------------------------------------- */

body {
    font-family: $fonts-sans;
}

.page-header {
    background: $paper1;
}

@media screen and ( min-width: 481px ) {
    .page-header {
        border-bottom: 1px solid $theme-shadow;
    }
}

nav a {
    color: black;
}

nav a:hover {
    text-decoration: underline;
}

.post-controls, 
.post-tags {
    border-top: 1px solid $theme-shadow; 
    font-size: 0.9em;
}

.post-tags a {
    color: $text-muted;
}

.post-tags a:hover {
    text-decoration: underline;
}

.activated {
    background-color: $action-muted;
    color: $text-muted;
}

blockquote {
    border-left: 2px solid $theme-shadow;
    border-top:  2px solid $theme-shadow;
}

code, 
pre {
    font-family: $fonts-mono;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: $fonts-serif;
}

ul, ol {
    border: 1px solid $theme-shadow;
}

ul li {
    list-style-type: none;
}

ul li:before {
    content: "\2605"; 
}

table { 
    border: 1px solid $theme-shadow;
}

tr:nth-of-type(odd) {
    background-color: $zebra;
}

th {
    background-color: $th-color;
}

button {
    background-color: $action-muted;
    border: none;
    border-radius: 3px; 
    padding: 5px;
}

button:hover {
    background-color: $action-color;
}


