/* SUPPORTED 2020: Firefox 70+ / Chrome 70+ / Safari 12+ -------------------- */
html {
    font-size: 1rem;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: hsl(0, 0%, 12%);
    color: hsl(58, 93%, 95%);
    font-family: "Source Sans Pro", Candara, sans-serif;
    font-size: 1.3em;
    line-height: 1.4;
    margin: 0;
}

/* phone size layout */
@media screen and (max-width: 599px) {
    header {
        display: flex;
        width: 100%; 
        position: fixed;
        bottom: 0;
        z-index: 4;
    }
    .navbutton {
        flex: 1 1 auto;
        border-right: 1px solid hsl(0, 0%, 12%);
    }
    main {
        margin: 0 .5em 3em 0.5em;
    }
}

/* basic desktop window, 600-~1200px ---------------------------------------- */
@media screen and (min-width: 600px) {
    header {
        font-size: 1.4em;
        grid-column: 1;
        padding: 12px 0 0 12px;
        position: fixed;
        top: 0;
        z-index: 4;
    }

    main { 
        margin-left: 8em;
        margin-right: 1em; 
        max-width: 40em;
        padding-bottom: 4em;
    }

    .navbutton {
        display: list-item;
        list-style-type: none;
        width: 100%;
        border-radius: 1em 0 0 1em;
        margin-bottom: .5em;
    }

}

/* misc TEXT elements ------------------------------------------------------- */

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: Merriweather, Cambria, Georgia, Palatino, serif; 
    line-height: 1.125; 
}

blockquote {
    border: 2px solid hsl(118, 27%, 39%); 
    border-radius: 0 1em; 
    margin: 0; 
    padding: .5em;
}

ol,
ul {
    padding: 0;
    list-style-position: inside;
}

table {
    border-collapse: collapse;
}

td,
li {
    border: 1px solid hsl(30, 18%, 33%);
    padding: .5em;
}

/* BUTTONS ------------------------------------------------------------------ */

button {
    background-color: hsl(206, 43%, 45%);
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    padding: .3em; 
    transition: background-color 300ms, transform 300ms;
}

/* complementary, color blind safe mellow yellow */
button:hover,
.glowingbutton {
    background-color: hsl(55, 67%, 54%);
    color: rgb(30,30,30);
}

button:active {
    transform: scale(.8, .9);
}

/* On each page the relevant button should be highlighted. 
 * How get rid of the "active" outline in FF at least? 
 * CHROME has its own styling, when you type in stuff it won't change the 
 * font color via "font:inherit" while FF does. 
 * However, just setting "color:rgb" means the text is tiny! ha. ha. 
 * So putting "color:inherit: tho redundant for FF fixes Chrome. 
 */

input {
    background-color: hsl(0, 0%, 25%);
    border: 3px solid hsl(205, 43%, 55%);
    font: inherit;
    color: inherit;
}

input:focus {
    border-color: hsl(55, 67%, 54%);
}
