/* SUPPORTED: Firefox 63+ / Chrome 70+ / Safari 12+ */
/* LAYOUT and universal fiddling */

body {
    background-color: rgb(30,30,30);
    color: rgb(254,253,229);
    font-family: "Source Sans Pro", Candara, sans-serif;
    font-size: 1.3em;
    line-height: 1.4;
}

/* resizing ----------------------------------------------------------------- */
@media screen and (min-width: 600px) {
    header {
        font-size: 1.4em;
        position: fixed;
        top: 12px;
        z-index: 4;
    }

    main {
        margin-left: 10em; 
        max-width: 40em;
    }

    .navbutton {
        display: list-item;
        width: 100%;
    }

}

/* right now I'm just letting the small screen collapse BUT if only had 4 buttons 
 * that would fit into one row, would it be good to have a fixed top bar for phones??? 
 * FLEXBOX the buttons. 
 */

/* misc TEXT elements ------------------------------------------------------- */

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: Merriweather, Cambria, Georgia, Palatino, serif; 
}

/* this is kind of annoying and can be dropped, just a goofy 80s thing */
.title {
    text-shadow: 
      3px 3px 0 rgb(192,192,192),
      6px 6px 0 rgb(128,128,128),
      9px 9px 0 rgb(64,64,64);
}

/* for character dialogue in the main narrative text, entirely optional */
.quoth {
    color: rgb(243,234,5);
}

/* BUTTONS ------------------------------------------------------------------ */
button {
    background-color: rgb(90,147,189);
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    padding: 12px; 
    transition: background-color 300ms, transform 300ms;
}
button:hover,
.glowingbutton {
    background-color: rgb(216,203,59);
    color: rgb(30,30,30);
}
button:active {
    transform: translateY(.6em);
}

/* need JS to do but make "selected" appearance/highlighting */

.navbutton {
    border-radius: 1em;
    margin-bottom: .5em;
}

/* CHROME has its own styling, won't change the font color via "inherit" while FF does. */

input {
    background-color: rgb(64,64,64);
    border: 3px solid rgb(90,147,189);
    font: inherit;
}
input:focus {
    border-color: rgb(216,203,59);
}
